<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <div class="container mt-4">

        {% if object %}
        <h2>Editar Categoría</h2>
        {% else %}
            <h2>Crear Categoría</h2>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'script:category_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    {% endblock %}

</body>
</html>